/*

!/.config

!.gitconfig
!.gitignore
!.zprofile

!Brewfile

!bootstrap.sh

.config/configstore/
.config/gh/hosts.yml
.config/nvim/plugin
.config/yarn
.config/zsh/.zcompcache/
.config/zsh/.zcompdump
.config/zsh/.zinit/
.config/zsh/.zsh_sessions/
.config/zsh/.zsh_history
.config/zsh/plugins
.config/zsh/configs/secrets.zsh
