[user]
  name = Taylor Phillips
  email = taylorscottphillips@gmail.com
[init]
  defaultBranch = main
[alias]
  a = add
  ; b = branch
  b = "!. ~/.githelpers && pretty_git_branch"
  bs = "!. ~/.githelpers && pretty_git_branch_sorted"
  c = commit -m
  co = checkout
  d = diff
  dt = difftool
  l = "!. ~/.githelpers && pretty_git_log"
  la = log --graph --decorate --pretty=oneline --abbrev-commit
  s = status --short --branch
  sb = switch 
  u = restore --staged
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[core]
  pager = delta
  editor = nvim
  autocrlf = input
[diff]
  tool = nvim
[difftool]
  prompt = false
[difftool "nvim"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = nvim
[mergetool]
  prompt = true
  keepBackup = false
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
[interactive]
  diffFilter = delta --color-only
