/*

!/bin
!/.config

!.gitconfig
!.gitignore
!.irbrc
!.zprofile

!Brewfile

!install.sh


bin/curl

.config/configstore/
.config/gh/hosts.yml
.config/github-copilot
.config/nvim/plugin
.config/planetscale
.config/yarn
.config/zsh/.zcompcache/
.config/zsh/.zcompdump
.config/zsh/.zinit/
.config/zsh/.zsh_sessions/
.config/zsh/.zsh_history
.config/zsh/plugins
.config/zsh/configs/secrets.zsh
